<a href="https://colab.research.google.com/github/saicharanpeddireddy/FirstOpencv/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [3]:
 import pandas as ps
 df3=ps.read_excel('/content/drive/MyDrive/Sample Input.xlsx',skiprows=[0])

In [4]:
display(df3.head(1))

,DCD:M:120,Description,Frequency,Units,Region,31-Aug-2012,30-Sep-2012,31-Oct-2012,30-Nov-2012,31-Dec-2012,...,31-Oct-2021,30-Nov-2021,31-Dec-2021,31-Jan-2022,28-Feb-2022,31-Mar-2022,30-Apr-2022,31-May-2022,30-Jun-2022,31-Jul-2022
0,57309334,"CPI: Base year 2012: Andhra Pradesh, Jun 14 -",M,Index,"Andhra Pradesh, Jun 14 -",101.7,102.3,103.2,104.2,105.2,...,167.8,169.6,170.1,168.4,168.6,170.9,173.6,177.8,178.7,177.5

In [5]:
#Unpivot the date columns
result_melt=df3.melt(id_vars=['DCD:M:120','Description','Frequency','Units','Region'], var_name='Date', value_name='VALUE')

In [6]:
#Result2=result1.pivot(['DCD:M:120','Description','Frequency','Region','Date'],columns='Units')
# ignoring the 'DCD:M:120','Description' columns Because of dupilicates
piv=result_melt.pivot(['Frequency','Region','Date'],columns='Units',values='VALUE')
display(piv)

Units                                                      Index      Mw  \
Frequency Region                              Date
M         Andaman & Nicobar Islands, Apr 70 - 28-Feb-2013  103.4    15.0
                                              28-Feb-2014  109.2    15.0
                                              28-Feb-2015  116.8    15.0
                                              28-Feb-2017  133.2    15.0
                                              28-Feb-2018  138.5    27.0
...                                                          ...     ...
          West Bengal, Apr 70 -               31-Oct-2017  135.9  4306.0
                                              31-Oct-2018  142.6  4448.0
                                              31-Oct-2019  148.7  4316.0
                                              31-Oct-2020  164.8  4899.0
                                              31-Oct-2021  171.1  4777.0

Units                                                      Per cent
Frequency Region                              Date
M         Andaman & Nicobar Islands, Apr 70 - 28-Feb-2013     -25.0
                                              28-Feb-2014     -25.0
                                              28-Feb-2015     -25.0
                                              28-Feb-2017     -25.0
                                              28-Feb-2018      -6.9
...                                                             ...
          West Bengal, Apr 70 -               31-Oct-2017      -0.4
                                              31-Oct-2018      -0.3
                                              31-Oct-2019      -0.1
                                              31-Oct-2020       0.0
                                              31-Oct-2021      -0.1

[3960 rows x 3 columns]

In [7]:
piv.columns = [''.join(str(s).strip() for s in col if s) for col in piv.columns]

#reset index
piv.reset_index(inplace=True)

piv.rename(columns = {'VALUEIndex':'Index', 'VALUEMw':'Mw','VALUEPer cent':'Per cent'}, inplace = True)
#view updated pivot table
print(piv.head(2))

#to remove charecters after COMMA in Region column
piv['Region']=piv['Region'].apply(lambda j:j.replace(j[j.index(','):],''))

  Frequency                               Region         Date  Index    Mw  \
0         M  Andaman & Nicobar Islands, Apr 70 -  28-Feb-2013  103.4  15.0
1         M  Andaman & Nicobar Islands, Apr 70 -  28-Feb-2014  109.2  15.0

   Percent
0    -25.0
1    -25.0

In [10]:
piv.columns

Index(['Frequency', 'Region', 'Date', 'Index', 'Mw', 'Percent'], dtype='object')

In [11]:
piv.to_csv('final.csv',index=False)